body {
    margin: 0;
    padding: 0;
    font-family: Optima, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 100px;
    
}

h1 {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.title {
    display: flex;
    background-color: #1F2937;
    padding: 30px 100px;
    justify-content: center;
}

.titleright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 700px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: #e5e7eb; 
    margin: 0;
}

button, .one {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
    width: 75px;
    padding: 10px 40px;
    border: none;
}

.summer {
    width: auto;
    height: 250px;
}

.infoheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-flow: row-wrap;
    margin-bottom: 100px;
}

.photos {
    max-width: 200px;
  }

.text {
    text-align: center;    
}

.Loki {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border-color: #3882f6;
    border-style: solid;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb; 
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 100px;  
}

.inspiring {
    font-size: 36px;
    max-width: 830px;
    font-style: italic;
    font-weight: lighter;
}

.Carl {
  font-weight: bold;
  text-align: end;
  margin: 15px;
}

.actioncontainer {
    display: flex;
    justify-content: center;
    
}
.action {
    background-color: #3882f6;
    margin: 100px;
    border-radius: 10px;
    color: #e5e7eb;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
}

.space {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.treats {
    font-weight: bold;
    font-size: 20px;
}

button, .two {
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
    width: 75px;
    padding: 10px 40px;
    border: solid;
    border-color: #e5e7eb;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
}
